<div class="createPostHeader">Update / Delete</div>
<div class="card-body">
  <form>
    <div class="mb-3">
      <label for="postTitleField" class="form-label">Title:</label>
      <input type="text" class="form-control" id="postTitleField" value="{{upPost.title}}">
    </div>
    <div class="mb-3">
      <label for="postContentField" class="form-label">Content:</label>
      <input type="text" class="form-control" id="postContentField" value="{{upPost.comment}}">
    </div>
    <button type="submit" class="btn d-grid col-2 mx-auto" id="updateBtn">Update</button><br>
    <button type="submit" class="btn d-grid col-2 mx-auto" id="deleteBtn">Delete</button>
  </form>
</div>
</div>
<script src="/js/dashboard.js"></script>